APP/n8n_workflow.json
{
    "name": "Yonezawa Bid Notification",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "triggerAtHour": 8
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://www.city.yonezawa.yamagata.jp/soshiki/1/1005/koukoku/index.html",
                "options": {}
            },
            "id": "http-get-yonezawa",
            "name": "Get Bid Page",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "// Paste the content of scripts/scraper.js here (the logic part)"
            },
            "id": "function-scraper",
            "name": "Scraper",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://YOUR-VERCEL-APP.vercel.app/api/line/notify",
                "method": "POST",
                "authentication": "headerAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "items",
                            "value": "={{ $json }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "http-post-vercel",
            "name": "Push to Vercel",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                850,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Vercel API Secret"
                }
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Get Bid Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Bid Page": {
            "main": [
                [
                    {
                        "node": "Scraper",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Scraper": {
            "main": [
                [
                    {
                        "node": "Push to Vercel",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}